.home-wrapper {
    width: 100%;
    background-image: url(../../assets/Home/home-background.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slider-wrapper {
    position: relative;
}

.main-slider {
    position: relative;
    top: -90px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.main-slider .slick-slider, 
.main-slider .slick-list {
    height: 100%;
}

.slider-img {
    width: 100%;
    height: 100vh;
    position: relative;
}

.slider-img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 8;
}

.slider-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slider-content {
    position: absolute;
    top: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateY(-50%);
    z-index: 5;
    z-index: 10;
}

.slider-content-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.slider-content h3 {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px; 
    text-transform: uppercase;
}

.slider-content h1 {
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: 120px; 
    text-transform: uppercase;
}

.slider-content p {
    color: rgba(255, 255, 255, 0.69);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
}

.slider-content div a {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px; 
}

.slider-content div a:hover {
    opacity: 0.8;
}

.main-slider .slick-next {
    position: absolute;
    right: 70px;
    top: 85%;
    z-index: 15;
    width: 65px!important;
    height: 65px!important;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.main-slider .slick-next:hover,
.main-slider .slick-prev:hover {
    background-color: rgba(255, 255, 255, 0.091);
}

.main-slider .slick-next path {
    stroke: #fff;
}

.main-slider .slick-prev {
    position: absolute;
    left: 70px;
    top: 85%;
    z-index: 15;
    width: 65px!important;
    height: 65px!important;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.main-slider .slick-prev path {
    stroke: #fff;
}

.slider-number-line {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 84%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slider-number-line span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
}

.slider-number-line section {
    height: 1px;
    background-color: #FFFFFF78;
    width: 25%;
    display: flex;
    align-items: center;
}

.slider-number-line section div {
    transition: all 0.3s ease;
    height: 3px; 
    background-color: #fff;
}


/* STATISTICS */

.statistics-wrapper {
    position: absolute;
    top: -130px;
    z-index: 9;
    width: 100%;
}

.statistics-container {
    border-radius: 30px;
    background: #171E2F;
    padding: 40px!important;
}

.statistics-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.statistics-info p {
    color: #EEE;
    text-align: center;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}


/* PROJECT INFO */

.project-info-container {
    margin-top: 180px;
}

.project-info-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-info-content h1 {
    color: #171E2F;
    font-family: Space Grotesk;
    font-size: 68px;
    font-style: normal;
    font-weight: 300;
    line-height: 60px; 
    margin-bottom: 0;
}

.project-info-content h4 {
    color: #171E2F;
    font-family: Space Grotesk;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;  
    margin-bottom: 0;
}

.project-info-content p {
    color: #666;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.6px;
    margin-bottom: 0;
}

.project-info-content span {
    display: block;
    width: 100px;
    height: 3px;
    background: #A51D19;
}

@media screen and (max-width: 1350px) {
    .slider-content {
        padding-left: 50px!important;
    }
}

@media screen and (max-width: 992px) {
    .slider-content {
        padding-left: 15px!important;
    }

    .slider-content h1 {
        font-size: 80px;
        line-height: 100px;
    }

    .slider-content h3 {
        font-size: 35px;
        line-height: 24px; 
    }

    .slider-content p {
        font-size: 20px;
        line-height: 28px; 
    }
    
    .slider-content div a {
        font-size: 25px;
        line-height: 28px; 
    }
}

@media screen and (max-width: 991.5px) {
    .slider-content div {
        align-items: center;
        gap: 5px;
    }

    .slider-content p {
        text-align: center;
    }

    .project-info-col {
        margin-bottom: 30px;
    }

    .project-info-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-info-content p {
        text-align: center;
    }

    .project-info-container {
        margin-top: 300px!important;
    }

    .project-info-content h1 {
        font-size: 60px;
        line-height: 50px;
    }

    .project-info-content h4 {
        font-size: 26px;
        line-height: 22px;
    }

    .project-info-content p {
        font-size: 17px;
        line-height: 28px;
    }
}

@media screen and (max-width: 768px){
    .slider-content h1 {
        font-size: 70px;
        line-height: 85px;
    }
    
    .slider-content h3 {
        font-size: 30px;
        line-height: 20px; 
    }
    
    .slider-content p {
        font-size: 18px;
        line-height: 24px; 
    }
    
    .slider-content div a {
        font-size: 22px;
        line-height: 24px; 
    }
    
    .main-slider .slick-prev {
        left: 50px;
        width: 50px!important;
        height: 50px!important;
    }
    
    .main-slider .slick-next {
        right: 50px;
        width: 50px!important;
        height: 50px!important;
    }
    
    .slider-number-line {
        top: 88%;
        gap: 15px;
    }
    
    .slider-number-line span {
        font-size: 18px;
        line-height: 26px;
    }

    .project-info-content h1 {
        font-size: 55px;
        line-height: 45px;
    }

    .project-info-content h4 {
        font-size: 22px;
        line-height: 18px;
    }

    .project-info-content p {
        font-size: 16px;
        line-height: 25px;
    }
}

@media screen and (max-width: 767.5px) {
    .project-info-container {
        margin-top: 550px!important;
    }
}

@media screen and (max-width: 600px) {
    .project-info-container {
        margin-top: 600px!important;
    }
}

@media screen and (max-width: 550px) {
    .slider-content h1 {
        font-size: 60px;
        line-height: 70px;
    }

    .slider-content h3 {
        font-size: 26px;
        line-height: 18px; 
    }

    .slider-content p {
        font-size: 16px;
        line-height: 20px; 
    }
    
    .slider-content div a {
        font-size: 20px;
        line-height: 20px; 
    }

    .main-slider .slick-prev {
        left: 30px;
        width: 40px!important;
        height: 40px!important;
    }

    .main-slider .slick-next {
        right: 30px;
        width: 40px!important;
        height: 40px!important;
    }

    .slider-number-line {
        top: 83%;
        gap: 12px;
    }

    .slider-number-line span {
        font-size: 16px;
        line-height: 22px;
    }

    .project-info-content h1 {
        font-size: 50px;
        line-height: 40px;
    }

    .project-info-content h4 {
        font-size: 20px;
    }

    .project-info-content p {
        font-size: 15px;
        line-height: 22px;
    }
}

@media screen and (max-width: 500px) {
    .project-info-container {
        margin-top: 640px!important;
    }

    .project-info-content h1 {
        font-size: 42px;
        line-height: 35px;
    }

    .project-info-content h4 {
        font-size: 19px;
    }

    .project-info-content p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 400px) {
    .slider-content h1 {
        font-size: 50px;
        line-height: 55px;
    }

    .slider-content h3 {
        font-size: 24px;
    }

    .slider-content p {
        font-size: 15px;
        line-height: 18px; 
    }
    
    .slider-content div a {
        font-size: 18px;
        line-height: 18px; 
    }

    .main-slider .slick-prev {
        left: 20px;
        width: 30px!important;
        height: 30px!important;
    }

    .main-slider .slick-next {
        right: 20px;
        width: 30px!important;
        height: 30px!important;
    }

    .slider-number-line {
        gap: 10px;
    }

    .slider-number-line span {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 330px) {
    .project-info-container {
        margin-top: 700px!important;
    }   
}