.slider-wrapper {
    position: relative;
}

.main-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.main-slider .slick-slider, 
.main-slider .slick-list {
    height: 100%;
}

.slider-img {
    width: 100%;
    height: 100vh;
    position: relative;
}

.slider-img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 8;
}

.slider-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.slider-content {
    position: absolute;
    top: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateY(-50%);
    z-index: 5;
    z-index: 10;
}

.slider-content-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.slider-content h3 {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 28px; 
    text-transform: uppercase;
}

.slider-content h1 {
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 900;
    line-height: 120px; 
    text-transform: uppercase;
}

.slider-content p {
    color: rgba(255, 255, 255, 0.69);
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
}

.slider-content div a {
    color: #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px; 
}

.slider-content div a:hover {
    opacity: 0.8;
}

.main-slider .slick-next {
    position: absolute;
    right: 70px;
    top: 90%;
    z-index: 15;
    width: 65px!important;
    height: 65px!important;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.main-slider .slick-next:hover,
.main-slider .slick-prev:hover {
    background-color: rgba(255, 255, 255, 0.091);
}

.main-slider .slick-next path {
    stroke: #fff;
}

.main-slider .slick-prev {
    position: absolute;
    left: 70px;
    top: 90%;
    z-index: 15;
    width: 65px!important;
    height: 65px!important;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.main-slider .slick-prev path {
    stroke: #fff;
}

.slider-number-line {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slider-number-line span {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
}

.slider-number-line section {
    height: 1px;
    background-color: #FFFFFF78;
    width: 25%;
    display: flex;
    align-items: center;
}

.slider-number-line section div {
    transition: all 0.3s ease;
    height: 3px; 
    background-color: #fff;
}

@media screen and (max-width: 1350px) {
    .slider-content {
        padding-left: 50px!important;
    }
}

@media screen and (max-width: 992px) {
    .slider-content {
        padding-left: 15px!important;
    }

    .slider-content h1 {
        font-size: 80px;
        line-height: 100px;
    }

    .slider-content h3 {
        font-size: 35px;
        line-height: 24px; 
    }

    .slider-content p {
        font-size: 20px;
        line-height: 28px; 
    }
    
    .slider-content div a {
        font-size: 25px;
        line-height: 28px; 
    }
}

@media screen and (max-width: 991.5px) {
    .slider-content div {
        align-items: center;
        gap: 5px;
    }

    .slider-content p {
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    .slider-content h1 {
        font-size: 70px;
        line-height: 85px;
    }

    .slider-content h3 {
        font-size: 30px;
        line-height: 20px; 
    }

    .slider-content p {
        font-size: 18px;
        line-height: 24px; 
    }
    
    .slider-content div a {
        font-size: 22px;
        line-height: 24px; 
    }

    .main-slider .slick-prev {
        left: 50px;
        width: 50px!important;
        height: 50px!important;
    }

    .main-slider .slick-next {
        right: 50px;
        width: 50px!important;
        height: 50px!important;
    }

    .slider-number-line {
        top: 88%;
        gap: 15px;
    }

    .slider-number-line span {
        font-size: 18px;
        line-height: 26px;
    }
}


@media screen and (max-width: 550px) {
    .slider-content h1 {
        font-size: 60px;
        line-height: 70px;
    }

    .slider-content h3 {
        font-size: 26px;
        line-height: 18px; 
    }

    .slider-content p {
        font-size: 16px;
        line-height: 20px; 
    }
    
    .slider-content div a {
        font-size: 20px;
        line-height: 20px; 
    }

    .main-slider .slick-prev {
        left: 30px;
        width: 40px!important;
        height: 40px!important;
    }

    .main-slider .slick-next {
        right: 30px;
        width: 40px!important;
        height: 40px!important;
    }

    .slider-number-line {
        top: 88%;
        gap: 12px;
    }

    .slider-number-line span {
        font-size: 16px;
        line-height: 22px;
    }
}

@media screen and (max-width: 400px) {
    .slider-content h1 {
        font-size: 50px;
        line-height: 55px;
    }

    .slider-content h3 {
        font-size: 24px;
    }

    .slider-content p {
        font-size: 15px;
        line-height: 18px; 
    }
    
    .slider-content div a {
        font-size: 18px;
        line-height: 18px; 
    }

    .main-slider .slick-prev {
        left: 20px;
        width: 30px!important;
        height: 30px!important;
    }

    .main-slider .slick-next {
        right: 20px;
        width: 30px!important;
        height: 30px!important;
    }

    .slider-number-line {
        gap: 10px;
    }

    .slider-number-line span {
        font-size: 14px;
        line-height: 20px;
    }
}