.header-wrapper {
    width: 100%;
    height: 90px;
    background-color: rgb(17, 14, 14, 1);
    position: fixed;
    top: 0;
    transition: all 0.3s ease-in-out;
    animation: header_wrap 0.5s ease-in-out;
    z-index: 10;
}

@keyframes header_wrap {
    from {
        top: -91px;
        background-color: rgb(17, 14, 14, 0);
    }to{
        top: 0;
        background-color: rgb(17, 14, 14, 1);
    }
}

.home-header-wrapper {
    height: 90px;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 10;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.metro-logo {
    display: block;
    height: 90px;
    padding: 10px;
}

.metro-logo img {
    height: 100%;
}

.header-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 0;
    height: 90px;
}

.header-menu li {
    height: 100%;
}

.header-menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.5px;
}

.header-menu li a:hover {
    opacity: 0.8;
}

.mobile-menu,
.hamburger-menu {
    display: none;
}

.mobile-menu {
    list-style: none;
}

.hamburger-menu svg{
    color: #fff;
    font-size: 45px;
}

@media screen and (max-width: 991.5px) {

    .mobile-menu-header ul {
        display: flex;
        justify-content: space-between;
    }

    .hamburger-menu {
        display: block;
    }

    .header-menu {
        display: none;
    }

    .open-mobile-menu {
        display: flex!important;
        flex-direction: column;
    }    

    .mobile-menu-header {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .close-menu {
        display: flex;
        align-items: center;
    }

    .close-menu  svg {
        color: #fff;
        font-size: 45px;
    }

    .metro-logo {
        width: fit-content!important;
    }

    .open-mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;  
        height: 100vh;
        background-color: black;  
    }

    .open-mobile-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;  
        height: 100%; 
    }
    
    .open-mobile-menu ul li {
        height: 100%;
        width: 100%;
    }

    .open-mobile-menu ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: #fff;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;   
    }

    .open-mobile-menu ul li a:hover {
        opacity: 0.8;
    }
}

@media screen and (max-width: 768px) {
    .open-mobile-menu ul li a {
        font-size: 24px;
        line-height: 24px;   
    }

    .hamburger-menu svg {
        font-size: 35px;
    }

    .close-menu svg {
        font-size: 35px;
    }

    .metro-logo {
        height: 70px;   
    }
}

@media screen and (max-width: 550px) {
    .open-mobile-menu ul li a {
        font-size: 20px;
        line-height: 20px;   
    }

    .mobile-menu-header {
        padding: 0 10px;
    }
}